@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.slide-out-left{
  animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-out;
}

.slide-in-left-delay-1 {
  animation: slide-in-left 0.7s ease-out;
}

.slide-in-left-delay-2{
  animation: slide-in-left 0.9s ease-out;
}

.slide-in-left-delay-3{
  animation: slide-in-left 1.2s ease-out;
}

.slide-in-left-delay-4{
  animation: slide-in-left 1.5s ease-out;
}


